*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans';
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #24eb4b;
}
.container{
    width: 100%;
    max-width: 850px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    align-items: center;
}
form{
    width: 500px;
    margin: 60px auto;
}
h1{
    margin: 20px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
hr{
    border-top:  2px solid #24eb4b;
}
p{
    text-align: center;
    margin: 10px;
}
form label{
    display: block;
    font-size: 20px;
    font-weight: 600;
    padding: 5px;
}
input{
    width: 100%;
    margin: 2px;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid gray;
}
button{
    border: none;
    outline: none;
    padding: 8px;
    width: 252px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    background: #24eb4b;
}
button:hover{
    background-color: #368445;
}